
<div class="jumbotron text-white" style="height: 600px; background: url(<%= asset_url("dogs.jpg") %>);background-size: cover;">
  <div class="text-center">
    <h1>Welcome to the photoposts</h1>
    <% unless logged_in? %>
      <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary mt-3' %>
    <% end %>
  </div>
</div>

  <h2 class="text-center">新着投稿一覧</h2>
  <%= render 'photoposts/feed_photoposts', photoposts: @photoposts %>
  <div class="text-right mr-5">
  <%= link_to 'もっと見る', photoposts_path %>
</div>
